---
// Get HTML skeleton
import Layout from '../layouts/Layout.astro';

// Get all files from daily folder
const dailyPosts = import.meta.glob('./daily/*.{md,mdx}', { eager: true });

// Change the frontmatter so that it can be accessed later on, since none of my files have a frontmatter and I don't want to write one
const modifiedDailyPosts = Object.fromEntries(
	// Go through all the entries and replace frontmatter
	Object.entries(dailyPosts).map(([key, post]: [string, any]) => {
		// Make their new title by removing all of the fluff
		let newTitle = key.replace('./daily/', '').replace('.md', '').replace('.mdx', '').replaceAll('-', '/');
		
		// If post already has title, append it
		newTitle = post.frontmatter.title ? newTitle + " - " + post.frontmatter.title : newTitle

		// Append all headings to the name of it, too
		const headings = post.getHeadings() 
		for (let heading in headings) {
			newTitle = newTitle + " - " + headings[heading].text;
		}

		// Make the new frontmatter
		const modifiedFrontmatter = {
			...post.frontmatter,
			title: newTitle,
		};

		// Send the frontmatter back
		return [key, { ...post, frontmatter: modifiedFrontmatter }];
	// Reverse the list so that newest ones appear at the top
	}).reverse()
);
---

<Layout>
	<main>
		<h1>Boop's Blog!</h1>
		{Object.values(modifiedDailyPosts).map((page: any) => <a href={page.url}>{page.frontmatter.title}</a>)}
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
</style>