---
import Layout from '../layouts/Layout.astro';

const pageTitle = "Home Page";

const dailyPosts = import.meta.glob('./daily/*.{md,mdx}', { eager: true });

for (let post in dailyPosts) {
	console.log(post);
}

//console.log(dailyPosts);
---

<Layout>
	<h1>{pageTitle}</h1>
	<ul>
		{Object.values(dailyPosts).map((page: any) => <li><a href={page.url}></a>{page.url}</li>)}
	</ul>
</Layout>
