html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

html.light {
    background-color: white;
    color: black;
}

html.dark {
    background-color: black;
    color: white;
}