/* The main colors are from this https://lospec.com/palette-list/wisteria-mystery
*  #ffffdb #ffc5bb #ff99a1 #a06689 
*/
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    background-color: #ffffdb;
    color: #a06689;
}

body {
    margin: 0%;
}