---
import '../styles/global.css';
import Layout from './Layout.astro';
---

<Layout>
    <div id="container">
        <nav>
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
                </svg>
            </a>
        </nav>
        <main>
            <div>
                <slot />
            </div>
        </main>  
    </div>
</Layout>


<style>
    #container {
        position: relative;
        margin: 20px auto;
        max-width: 700px;
    }

    main {
        display: block;
    }

    main div {
        max-width: 700px;
        shape-outside: margin-box;
        float: none;
    }

    nav {
        float: right;
        width: 40px;
        margin-left: 15px;
        margin-bottom: 10px;
        color: var(--accent-color-2);
        background-color: var(--accent-color-1);
        border-radius: 5px;
        min-height: 40px;
        shape-outside: margin-box;
    }

    svg {
        stroke: var(--accent-color-2);
    }
}
</style>
